:root {
   --default-color: #fff;
   --default-bg-color: #000;
   --default-font: 'Rajdhani', sans-serif;
   --default-title-font: 'Orbitron', sans-serif;
   --default-font-bold: 700;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   max-width: 100%;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
   line-height: 1.5;
}

html:focus-within {
   scroll-behavior: smooth;
}

h1 {
   font-size: 4rem;
}

.background-video {
   min-width: 100vw;
   min-height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}


.menu {
   position: fixed;
   display: flex;
   align-items: center;
   min-width: 100%;
   z-index: 2;
   background-color: rgba(0, 0, 0, 0.5);
}

.logo {
   padding-left: 1.4rem;
   padding-top: 1rem;
}

.menu nav {
   margin: 0 auto;
}

.menu-list {
   display: flex;
   list-style: none;
}

.menu ul li a {
   display: block;
   position: relative;
   text-decoration: none;
   color: var(--default-color);
   font-family: var(--default-title-font);
   font-weight: var(--default-font-bold);
   padding: 1rem 3rem;
   font-size: 2rem;
   text-transform: uppercase;
}

.menu ul li a::after {
   content: '';
   position: absolute;
   bottom: 1rem;
   left: 50%;
   width: 0%;
   height: 0.2rem;
   background: red;
   transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
   width: 50%;
   left: 25%;
}

.close-menu {
   display: none;
}

.main-container {
   min-width: 100%;
   min-height: 100vh;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.intro-trailer {
   display: flex;
   flex-direction: column;
   max-width: 190rem;
   height: auto;
   justify-content: center;
   align-items: stretch;
   padding: 10rem 5rem;
}

.intro-video {
   width: 100%;
   height: auto;
}


.intro-trailer iframe {
   aspect-ratio: 16/9;
   height: auto;
   max-width: 100%;
}

.intro {
   position: relative;
   background-color: rgba(0, 0, 0, 0.9);
}

.intro::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
}

.intro-title,
.crew-title {
   font-family: var(--default-title-font);
   text-transform: uppercase;
   color: var(--default-color);
   text-align: center;
}



.me-content {
   padding: 3rem 20rem;
   position: relative;
}

.shepard {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   background-color: rgba(0, 0, 0, 0.6);
   backdrop-filter: blur(2px);
}


.commander-shepard {
   position: absolute;
   top: 10rem;
   font-family: var(--default-title-font);
   font-size: 4rem;
   color: var(--default-color);
   text-transform: uppercase;
}

.shepard-bio {
   position: absolute;
   width: 100rem;
   height: auto;
   margin-top: 15rem;
}

.shepard img {
   width: 100vw;
   height: auto;
}

.shepard p {
   background: rgba(0, 0, 0, 0.5);
   backdrop-filter: blur(5px);
   border: 0.2rem solid var(--default-color);
   border-radius: 5px;
   padding: 2rem;
   font-size: 2.2rem;
   font-family: var(--default-font);
   color: var(--default-color);
   text-align: justify;
   line-height: 2;
}

.crew-container-desktop {
   min-height: 100vh;
   position: relative;
   padding: 8rem;
   display: flex;
   justify-content: center;
   background-color: var(--default-bg-color);
}


.container {
   position: relative;
   max-width: 130rem;
   min-width: 50rem;
   margin: 0 auto;
}

.crew-title {
   max-width: 100vw;
   margin: 0 auto;
   color: var(--default-color);
   font-family: var(--default-title-font);
   padding: 2rem;
}

.progress-container {
   position: relative;
   display: flex;
   margin: 0 auto;
   max-width: 150px;
   height: 80px;
   justify-content: space-between;
   align-items: center;
}

.arrow-left,
.arrow-right {
   font-size: 40px;
   width: 60px;
   cursor: pointer;
   border: none;
   background: linear-gradient(to left, transparent 0%, blue 200%);
   z-index: 2;
}

.arrow-left {
   padding-right: 0.6rem;
   right: auto;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   color: blue;
}

.arrow-right {
   padding-left: 0.6rem;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   background: linear-gradient(to right, transparent 0%, red 200%);
   color: red;
}


.gallery-wrapper {
   background-color: black;
   overflow-x: auto;
   scrollbar-width: thin;
   scrollbar-color: #444 black;
}

.gallery {
   display: flex;
   flex-flow: row nowrap;
   gap: 2rem;
}

.item {
   max-width: 400px;
   height: 450px;
   flex-shrink: 0;
   transition: all 300ms ease-in-out;
}

.box {
   display: flex;
   flex-direction: column;
}

.box_content {
   width: 400px;
   height: 400px;
   position: relative;
   transform-style: preserve-3d;
   transform: rotateX(0deg);
   transition: transform 600ms ease-in-out;
}

.box_front,
.box_back {
   position: absolute;
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
}

.box_front img {
   width: 100%;
   height: auto;
}

.box_back {
   border-radius: 10px;
   transform: rotateX(180deg);
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   position: relative;
}

.box:hover .box_content {
   transform: rotateX(180deg);
}

.crew-text-container {
   position: absolute;
   display: flex;
   flex-direction: column;
   width: 35rem;
   font-family: var(--default-font);
   font-size: 1.8rem;
   text-align: justify;
}

.crew-info {
   display: flex;
   justify-content: flex-start;
   align-items: baseline;
   margin-left: 8rem;
   column-gap: 1rem;
}

.crew-bio {
   margin-top: 2rem;
}

.crew-member h1 {
   color: var(--default-color);
   text-align: center;
   font-family: var(--default-title-font);
   text-transform: uppercase;
   font-size: 3rem;
}

.contact-container {
   min-width: 100%;
   min-height: 100vh;
   background-color: var(--default-bg-color);
   padding-top: 10rem;
}

.contact-title {
   width: 100%;
   height: 150px;
   background-image: url('./assets/background/MassEffectLegendaryEdition_Texture-5.jpg');
   background-position: center;
   background-size: contain;
   display: flex;
   justify-content: center;
   align-items: center;
}

.contact-title h1 {
   text-align: center;
   font-family: var(--default-title-font);
   font-size: 8rem;
   font-weight: var(--default-font-bold);
   color: var(--default-color);
   text-transform: uppercase;
}

.contact-form {
   grid-column: span 2;
   max-width: 120rem;
   margin: 0 auto;
   padding-top: 2.5rem;
}

.contact-form .form-grid {
   border: none;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 3rem;
}

.form-grid legend {
   font-style: italic;
   font-size: 1.6rem;
   margin-bottom: 3rem;
   color: var(--default-color);
}

.form-group {
   flex: 1 1 auto;
}

.form-group label {
   display: block;
}

.form-group input,
.form-group textarea {
   border: 0.2rem solid var(--default-color);
   background-color: black;
   padding: 1.5rem 2rem;
   width: 100%;
   font-size: 2.5rem;
   outline: none;
   color: var(--default-color);
   font-family: var(--default-font);
}

.form-group input:focus,
.form-group textarea:focus {
   box-shadow: 0px 0px 10px 2px #fff;
   color: #fff;

}

.form-group button {
   border: none;
   background: red;
   color: #fff;
   padding: 1.5rem 2rem;
   font-size: 3rem;
   cursor: pointer;
   transition: all 300ms ease-in-out;
   font-family: var(--default-font);
}

.full-width {
   width: 100%;
}

.form-group button:hover {
   transform: scale(1.1);
}

.form-group ::placeholder {
   color: #888;
}


.footer {
   background-color: black;
   text-align: center;
   padding: 3rem 15rem;
}

.footer p {
   font-family: var(--default-font);
   color: var(--default-color);
   font-size: 1.5rem;
}

.footer span {
   color: red;
}

.back-to-top {
   position: fixed;
   bottom: 2rem;
   right: 2rem;
   background: linear-gradient(-90deg, transparent 0%, red 200%);
   width: 5rem;
   height: 5rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   transform: rotate(90deg);
   text-decoration: none;
   font-size: 3rem;
   color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 800px) {

   .menu,
   .menu-list {
      top: 0;
      bottom: 0;
      justify-content: center;
      flex-direction: column;
      text-align: center;
   }

   .menu {
      display: none;
      background-color: rgba(0, 0, 0, 0.9);
   }

   .close-menu-label::after {
      content: ' ☰ ';
      position: fixed;
      z-index: 3;
      top: 2rem;
      right: 2rem;
      color: var(--default-color);
      font-size: 3rem;
      line-height: 3rem;
      text-align: center;
      padding: 0.5rem;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.5);
   }

   .close-menu:checked~.menu {
      display: block;
   }

   .close-menu:checked~.close-menu-label::after {
      content: '✖';
   }

   .logo {
      padding-top: 3rem;
   }

   .intro-title h1 {
      font-size: 3rem;
   }

   .intro-trailer {
      row-gap: 5rem;
   }

   .shepard-bio {
      position: relative;
      margin-top: 0;
      padding: 0 3rem;
   }

   .shepard p {
      font-size: 1.5rem;
   }

   .commander-shepard {
      position: relative;
      top: 0;
   }

   .commander-shepard h1 {
      position: relative;
      text-align: center;
      padding: 2rem;
      font-size: 3rem;
      top: 0;
   }

   .container {
      min-width: 30rem;
   }

   .item,
   .box_content {
      max-width: 30rem;
      height: auto;
   }

   .contact-title h1 {
      font-size: 5rem;
   }

   .intro-trailer {
      padding: 0;
   }

   .intro-title h1,
   .crew-title h1,
   .crew-member h1,
   .contact-title h1 {
      font-size: 2rem;
   }

   .crew-bio p {
      font-size: 1.3rem;
      max-width: 25rem;
      margin: 0 auto;
   }

   .contact-container,
   .crew-container-desktop {
      min-height: 0;
      padding: 3rem 5rem 0 5rem;
   }

   .contact-title {
      height: 5rem;
   }

   .footer {
      padding: 3rem 3rem;
   }

   .footer p {
      font-size: 1.2rem;
   }

   .form-group input,
   .form-group textarea {
      font-size: 1.3rem;
   }

   .form-group button {
      font-size: 2rem;
   }

   .button {
      display: flex;
      justify-content: center;
   }

}