:root {
   --default-font-color: #fff;
   --default-font: 'Rajdhani', sans-serif;
   --default-font-bold: 700;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   max-width: 100%;
}

html {
   font-size: 62.5%;
   scroll-behavior: smooth;
   line-height: 1.5;
}

html:focus-within{
   scroll-behavior: smooth;
}

h1{
   font-size: 4rem;
}

#background-video {
   min-width: 100vw;
   min-height: 100vh;   
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}


.menu {
   position: fixed;
   display: flex;
   align-items: center;
   min-width: 100%;
   z-index: 2;
   background-color: rgba(0, 0, 0, 0.5);
}

.logo {
   padding-left: 1rem;
   padding-top: 1rem;
}

.menu nav {
   margin: 0 auto;
}

.menu-list {
   display: flex;
   list-style: none;
}

.menu ul li a {
   display: block;
   position: relative;
   text-decoration: none;
   color: var(--default-font-color);
   font-family: var(--default-font);
   font-weight: var(--default-font-bold);
   padding: 1rem 3rem;
   font-size: 2rem;
   text-transform: uppercase;
}

.menu ul li a::after {
   content: '';
   position: absolute;
   bottom: 1rem;
   left: 50%;
   width: 0%;
   height: 0.2rem;
   background: red;
   transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
   width: 50%;
   left: 25%;
}

.main-container {
   min-width: 100%;
   min-height: 100vh;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   padding: 5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   
}

.intro-trailer {
   display: flex;
   width: 100%;
   height: auto;
   flex-direction: column;
}

.intro-trailer iframe {
   aspect-ratio: 16/9;
   height: 100%;
   width: 100%;
}

.me-content {
   padding: 3rem 20rem;
   position: relative;
}

.sheppard-bio{
   width: 100rem;  
   height: auto; 
   margin-top: 15rem;  
}

.sheppard p{
   background: rgba(0,0,0,0.5);
   backdrop-filter: blur(5px);
   border: 0.2rem solid #fff;
   border-radius: 5px;
   padding: 1rem;
   font-size: 2rem;
   font-family: var(--default-font);
   color: var(--default-font-color);
   text-align: justify;
   font-weight: 500;
}

.crew-container {     
   min-height: 100vh;
   position: relative;
   padding: 5rem;
   display: flex;
   justify-content: center;
   align-items: center;
}


.grid {
   padding: 3rem 20rem;
   display: grid;
   justify-content: center;
   align-items: center;
   grid-template-columns: repeat(4, 1fr);
   gap: 3rem;
}

.box {
   display: flex;
}

.box_content {
   width: 400px;
   height: 400px;
   position: relative;
   transform-style: preserve-3d;
   transform: rotateX(0deg);
   transition: transform 600ms ease-in-out;
}

.box_front,
.box_back {
   position: absolute;
   display: flex;
   justify-content: center;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
}

.box_front img {
   width: 100%;
   height: auto;
}

.box_back {
   border-radius: 10px;
   transform: rotateX(180deg);
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   position: relative;
}

.box:hover .box_content {
   transform: rotateX(180deg);
}

.crew-text {
   position: absolute;
   display: block;
   top: 2rem;
   left: 2.5rem;
   width: 35rem;
   font-family: var(--default-font);
   font-size: 1.8rem;
}

.crew-text h1 {
   text-align: right;   
   margin-left: 6.5rem;
}


.crew-text span {
   display: block;
   margin-top: 0.5rem;
   text-align: justify;
}

.intro {
   position: relative;
   background-color: rgba(0, 0, 0, 0.7);
}

.intro::before {
   content: "";
   position: absolute;
   width: 100%;
   height: 100vh;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-image: url('./mass-effect-banner.jpg');
   filter: blur(5px);
}

.sheppard{
   background-image: url('./assets/background/MassEffectLegendaryEdition_Texture-1.jpg');
}

.dark-bg{
   background-color: rgba(0, 0, 0, 0.5);
}

.footer {
   background-color: black;
   text-align: center;
   padding: 3rem 15rem;
}

.footer p {
   font-family: var(--default-font);
   color: var(--default-font-color);
   font-size: 1.5rem;
}

.footer span {
   color: red;
}

@media (max-width: 1400px){
   .grid {
      grid-template-columns: repeat(3, 1fr);      
   }
   
}